# VSCode settings
.vscode/

# Dependencies
node_modules/

# Build output
dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# System files
.DS_Store

# Demo build files
demo/

# Presentation page
index.html
demo.js
styles.css
index copy.html

depthtext SAUVEGARDE.ts